@model WebApi.Models.DailyTask

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DailyTask</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssignedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaskDetail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaskDetail.TaskName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DailyTaskId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
